@import "reset.css";

body {
  background-color: #fff;
}

.root-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.header-container {
  background-color: rgba(3, 37, 65, 1);
}

.header-wrap {
  max-width: 1400px;
  height: 64px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.header-left-wrap {
  display: flex;
}

.header-left-wrap ul {
  display: flex;
  margin-left: 16px;
}

.header-left-wrap li {
  padding: 8px;
  margin-right: 14px;
}

.header-nav-item {
  text-decoration: none;
  color: white;
  font-weight: 600;
}

.page-container {
  background-color: #fff;
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 32px 0;
}

body {
  background-color: #22254b;
  margin-top: 50px;
  margin-bottom: 50px;
}

.app-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.movie-container {
  position: relative;
  margin: 16px;
  width: 150px;
  border: 1px solid black;
  background-color: #373b69;
  color: white;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rdba(0, 0, 0, 0.1);
}

.movie-container img {
  max-width: 100%;
}

.movie-info {
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}

.movie h3 {
  margin: 0;
  font-size: 8px;
}

.movie span {
  margin: 0;
  font-size: 8px;
}

.movie-container .overview {
  display: none;
}

.movie-container.show-overview .overview {
  display: block;
}

.page {
  position: absolute;
  top: 70px;
  bottom: 0;
  width: 100%;
  max-width: 500px;
  padding: 0 20px;

  left: 50%;
  transform: translate(-50%, 0);

  background-color: #f7f7f7;

  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.titleWrap {
  margin-top: 87px;
  font-size: 26px;
  font-weight: bold;
  color: #262626;
}

.contentWrap {
  margin-top: 26px;
  flex: 1;
}

.inputTitle {
  font-size: 12px;
  font-weight: 600;
  color: #262626;
}

.inputWrap {
  display: flex;
  border-radius: 8px;
  padding: 16px;
  margin-top: 8px;
  background-color: white;
  border: 1px solid #e2e0e0;
}
.inputWrap:focus-within {
  border: 1px solid #9e30f4;
}

.input {
  width: 100%;
  outline: none;
  border: none;
  height: 17px;
  font-size: 14px;
  font-weight: 400;
}

.input::placeholder {
  color: #dadada;
}

.bottomButton {
  width: 100%;
  height: 48px;
  border: none;
  font-weight: bold;
  border-radius: 64px;
  background-color: #9e30f4;
  color: white;
  margin-bottom: 16px;
  cursor: pointer;
}

.bottomButton:disabled {
  background-color: #dadada;
  color: white;
}

.errorMessageWrap {
  margin-top: 8px;
  color: #ef0000;
  font-size: 12px;
}
